.gridContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.worksSectionContainer {
  grid-column: 1 / 13;
  grid-row: 1 / 7;
  background-color: #0c0c0c;
  width: 100%;
  height: 100vh;
  border-bottom: 3px solid #fbfbff;
}

.worksSection {
  grid-column: 2 / 12;
  grid-row: 2 / 4;
}

.worksSectionText {
  margin: 0;
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fbfbff;
  text-align: center;
  margin-top: 5vh;
}

.pintperHeader {
  grid-column: 1 / 13;
  grid-row: 2 / 3;
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border-top: 3px solid #fbfbff;
  border-bottom: 3px solid #fbfbff;
  background-color: #0c0c0c;
  z-index: 80;
}

.pintperHeaderContainer {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  justify-self: start;
}

.pintperHeaderContainer p {
  color: #fbfbff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 800;
}

.pintperHeader2020 {
  grid-column: 10 / 12;
  grid-row: 1 / 2;
  justify-self: end;
}

.pintperHeader2020 p {
  color: #fbfbff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 800;
}

.pintperImageContainer {
  grid-column: 1 / 13;
  grid-row: 2 / 5;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #fbfbff;
}

.pintperImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.4);
}

.pintperTextContainer {
  grid-column: 2 / 12;
  grid-row: 5 / 7;
}

.pintperTextContainer h2 {
  font-size: 11px;
  color: #fbfbff;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin-top: 30px;
}

.pintperMore {
  grid-column: 2 / 4;
  grid-row: 6 / 7;
  align-self: center;
}

.pintperMore a {
  color: #0c0c0c;
  text-decoration: none;
  background-color: #fbfbff;
  border: 1px solid #fbfbff;
  padding: 10px 40px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  border: 1px solid transparent;
}

.pintperMore a:hover {
  border: 1px solid #fbfbff;
  background-color: #0c0c0c;
  color: #fbfbff;
}

.pintperGithubLinkContainer {
  grid-column: 9 / 12;
  grid-row: 6 / 7;
  justify-self: end;
  align-self: center;
}

.pintperGithubLinkContainer a {
  color: #fbfbff;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  text-decoration: none;
  font-size: 12px;
}

.pintperGithubLinkContainer a:hover {
  text-decoration: line-through;
}

.estadoRealContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 100%;
  height: 100vh;
  margin-top: 90vh;
  background-color: #0c0c0c;
}

.estadoRealHeader {
  grid-column: 1 / 13;
  grid-row: 1 / 2;
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border-top: 3px solid #fbfbff;
  border-bottom: 3px solid #fbfbff;
  background-color: #0c0c0c;
  z-index: 80;
}

.estadoRealHeaderContainer {
  grid-column: 2 / 6;
  grid-row: 1 / 2;
}

.estadoRealHeaderContainer p {
  color: #fbfbff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 800;
}

.estadoRealHeader2020 {
  grid-column: 10 / 12;
  grid-row: 1 / 2;
  justify-self: end;
}

.estadoRealHeader2020 p {
  color: #fbfbff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 800;
}

.estadoRealImageContainer {
  grid-column: 1 / 13;
  grid-row: 1 / 4;
  border-bottom: 3px solid #fbfbff;
}

.estadoRealImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.4);
}

.estadoRealTextContainer {
  grid-column: 2 / 12;
  grid-row: 4 / 5;
}

.estadoRealContainer h2 {
  font-size: 11px;
  color: #fbfbff;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin-top: 30px;
}

.estadoRealMore {
  grid-column: 2 / 4;
  grid-row: 5 / 6;
  justify-self: start;
  align-self: end;
}

.estadoRealMore a {
  color: #0c0c0c;
  text-decoration: none;
  background-color: #fbfbff;
  border: 1px solid #fbfbff;
  padding: 10px 40px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  border: 1px solid transparent;
}

.estadoRealMore a:hover {
  border: 1px solid #fbfbff;
  background-color: #0c0c0c;
  color: #fbfbff;
}

.estadoRealGithubLinkContainer {
  grid-column: 9 / 12;
  grid-row: 5 / 6;
  justify-self: end;
  align-self: end;
}

.estadoRealGithubLinkContainer a,
.backtotopContainer a {
  color: #fbfbff;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  text-decoration: none;
  font-size: 12px;
}

.estadoRealGithubLinkContainer a:hover,
.backtotopContainer a:hover {
  text-decoration: line-through;
}

.backtotopContainer {
  grid-column: 1 / 13;
  grid-row: 6 / 7;
  margin-top: 40px;
  border-top: 3px solid #fbfbff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backtotopContainer a {
  text-align: center;
  padding: 10px 20px;
}

@media (min-width: 768px) {
  .pintperTextContainer h2, .estadoRealContainer h2 {
    font-size: 1.5rem;
    margin-top: 10px;
  }
}

@media (min-width: 1024px) {
  .pintperTextContainer h2, .estadoRealContainer h2 {
    font-size: 1.6rem;
    margin-top: 20px;
  }
}
